@model SportPro.Web.Models.ViewModels.AddUserRequest

@{
    ViewData["Title"] = "Dodavanje novog korisnika";
}

@if (User.IsInRole("Admin"))
{
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Korisničko ime</label>
                    <input asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Lozinka</label>
                    <input asp-for="Password" class="form-control" required minlength="6" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Odustani</a>
                </div>
            </form>
        </div>
    </div>



    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}