@model SportPro.Web.Models.ViewModels.EditUserRequest

@{
    ViewData["Title"] = "Uređivanje korisnika";
}


@if (User.IsInRole("Admin"))
{
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <div class="form-group row">
                    <label asp-for="UserName" class="col-sm-2 col-form-label">Korisničko ime</label>
                    <div class="col-sm-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row d-flex justify-content-between">
                    <div class="col-sm-10 offset-sm-2 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Spremi promjene</button>
                        <a asp-action="Index" class="btn btn-danger">Odustani</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}