html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar .nav-link {
    transition: background-color 0.3s, color 0.3s;
}

    .navbar .nav-link:hover {
        background-color: #0056b3;
        color: #ffffff !important;
    }

.navbar .dropdown-menu {
    background-color: #007bff;
    color: #ffffff;
}

    .navbar .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .navbar .dropdown-menu .dropdown-item:hover {
            background-color: #0056b3;
            color: #ffffff !important;
        }

/* Ensure buttons are displayed in a row and not stacked */
.table .btn {
    display: inline-block;
    margin: 0 5px; /* Adjust the margin as needed for better spacing */
}

/* Optional: Adjust button size to ensure consistent appearance */
.table .btn-success, .table .btn-danger {
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
}

/* Optional: Center align buttons within the cell */
.table td:last-child {
    text-align: center;
}

/* Promijenite boju pozadine za aktivan dropdown meni */
.navbar .dropdown-menu {
    background-color: #007bff; /* ista plava boja kao navigacijska traka */
}

    .navbar .dropdown-menu .nav-link {
        color: white; /* Bijela boja za tekst u dropdown meniju */
    }

        .navbar .dropdown-menu .nav-link:hover {
            background-color: #0056b3; /* Tamnija plava za hover efekt */
            color: white;
        }

/* Active state for the main nav item */
.navbar .nav-link.active {
    background-color: #0056b3;
    color: #ffffff !important;
}

/* Active state for the dropdown item */
.navbar .dropdown-menu .dropdown-item.active {
    background-color: #0056b3;
    color: white !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is always on top */
}

body {
    padding-top: 56px; /* Adjust this value if your navbar height is different */
}

.table-container {
    overflow-x: auto;
}