@model SportPro.Web.Models.Domains.Velicine

@{
    ViewData["Title"] = "Brisanje veličine";
}


<h3>Jeste sigurni da želite izbrisati veličinu?</h3>
<div>
    <h4>Velicine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Veličina
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Velicina)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IDVelicina" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se na popis</a>
    </form>
</div>
