@model SportPro.Web.Models.ViewModels.AddBrendRequest

@{
    ViewData["Title"] = "Dodavanje novog brenda";
}

@if (User.IsInRole("Uposlenik"))
{
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NazivBrenda" class="control-label">Naziv brenda</label>
                    <input asp-for="NazivBrenda" class="form-control" required maxlength="20" />
                    <span asp-validation-for="NazivBrenda" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Vrsta" class="control-label">Vrsta</label>
                    <select asp-for="Vrsta" class="form-control" name="Vrsta" required maxlength="10">
                        <option>Javna</option>
                        <option>Privatna</option>
                        <span asp-validation-for="Vrsta" class="text-danger"></span>
                    </select>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Osnivac" class="control-label">Osnivač</label>
                    <input asp-for="Osnivac" class="form-control" required maxlength="50" />
                    <span asp-validation-for="Osnivac" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="GodinaOsnivanja" class="control-label">Godina osnivanja</label>
                    <input asp-for="GodinaOsnivanja" class="form-control" required />
                    <span asp-validation-for="GodinaOsnivanja" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Sjediste" class="control-label">Sjedište</label>
                    <input asp-for="Sjediste" class="form-control" required maxlength="100" />
                    <span asp-validation-for="Sjediste" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Predsjednik" class="control-label">Predsjednik</label>
                    <input asp-for="Predsjednik" class="form-control" required maxlength="50" />
                    <span asp-validation-for="Predsjednik" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control" name="Status" required maxlength="10">
                        <option>Dostupan</option>
                        <option>Nedostupan</option>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </select>
                </div>
                <br/>
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Odustani</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}