@model SportPro.Web.Models.ViewModels.EditKategorijaPrihodaRequest

@{
    ViewData["Title"] = "Uređivanje kategorije prihoda";
}

@if (User.IsInRole("Uposlenik"))
{
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IDKategorijePrihoda" />
                <div class="form-group">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Opis" class="control-label"></label>
                    <input asp-for="Opis" class="form-control" />
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Spremi" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-danger">Odustani</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
else
{
    <div class="container my-5">
        <h2 align="center">Nemate pravo pristupa ovoj stranici!</h2>
    </div>
}