@model SportPro.Web.Models.ViewModels.EditPonudaPoslovaRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditPonudaPoslovaRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDPonudaPoslova" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisPosla" class="control-label"></label>
                <input asp-for="OpisPosla" class="form-control" />
                <span asp-validation-for="OpisPosla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojOsoba" class="control-label"></label>
                <input asp-for="BrojOsoba" class="form-control" />
                <span asp-validation-for="BrojOsoba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojSati" class="control-label"></label>
                <input asp-for="BrojSati" class="form-control" />
                <span asp-validation-for="BrojSati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CijenaSata" class="control-label"></label>
                <input asp-for="CijenaSata" class="form-control" />
                <span asp-validation-for="CijenaSata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotrebnaOprema" class="control-label"></label>
                <input asp-for="PotrebnaOprema" class="form-control" />
                <span asp-validation-for="PotrebnaOprema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PocetakRadova" class="control-label"></label>
                <input asp-for="PocetakRadova" class="form-control" />
                <span asp-validation-for="PocetakRadova" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KrajRadova" class="control-label"></label>
                <input asp-for="KrajRadova" class="form-control" />
                <span asp-validation-for="KrajRadova" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacija" class="control-label"></label>
                <input asp-for="Lokacija" class="form-control" />
                <span asp-validation-for="Lokacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
